*, *::before, *::after {
    box-sizing: border-box ;
    padding: 0 ;
    margin: 0 ; 
}
body {
    background-image: url(./images/background.jpeg);
    background-position-x: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
}
form {
    display: flex ;
    flex-direction: column ;
    align-items: center ;
    justify-content: center ;
    opacity: 0.85;
    background-color: black;
    width: 60vw;
    padding: 20px;
    border-radius: 10px;
}
img {
    width: 2.2rem;
    margin: 0.4rem;
}
input {
    height: 1.75rem;
    padding: 0.55rem;
    border-radius: 4px;
    border: none;
    font-size: 1.3rem;
    position: relative;
    bottom: 15px;
    background-color: rgba(255, 255, 255, 0.95);
}
div {
    padding: 5px;
    margin: 5px;
}
h1 {
    margin-top: 1rem;
    font-size: 2.75rem;
    color: rgba(104, 126, 255, 0.95);
}
a {
    color: rgba(104, 126, 255, 0.95);
    text-decoration: solid;
}
p {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.822)
}
button {
    padding: 1rem 1.5rem;
    margin: 1rem;
    border: none;
    border-radius: 4px;
    background-color: rgba(43, 12, 196, 1);
    font-size: 1.4rem;
    cursor: pointer;
    color: white;
}

@media (min-width: 1750px) {
    form {
        width: 35vw;
    }
}
@media (max-width: 750px) {
    form {
        width: 90vw;
    }
}